{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Top Up{% endblock %}

{% block extrahead %}

{{ form.media }}

{% endblock %}

{% block content %}

<div class="col-md-12">
    <form method="post" action="">
        {% csrf_token %}
        <h2>How much do you want to top up?</h1>
        <div class="col-md-4">
            {% bootstrap_field form.amount layout='horizontal' horizontal_label_class='col-md-5' horizontal_field_class='col-md-7' addon_after='<span>NZD</span>' %}
        </div>
        <div class="col-md-12">
            {% buttons submit='Top Up' reset='Cancel' %}
            {% endbuttons %}
        </div>
    </form>
</div>

{% endblock %}

{% block extrascript %}

{% endblock %}
