{% extends 'base.html' %}

{% block title %}Reset User Passwords{% endblock %}

{% block content %}
<h1>Reset User Passwords</h1>

<form action="" method="post" id="reset_passwords">{% csrf_token %}
	<table class="table table-bordered">
    <thead>
	<tr>
		<th>Full name</th>
		<th>Email</th>
		<th>Reset Password</th>
	</tr>
    </thead>
	    <tbody>
		{% for user in user_list %}
	    {%if user.is_active %}<tr class="active">{% else %}<tr>{% endif %}
			<td>{{ user.get_full_name }}</td>
			<td>{{ user.email }}</td>
			<td><input type="checkbox" name="password_reset" value="{{ user.id }}"></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<!--  <input class="btn btn-primary" type="submit" value="Reset selected passwords" /> -->
	<button class="btn btn-primary" onclick="myFunction()">Reset Password</button>
</form>
 
<script type="text/javascript">
function myFunction() {
    if(!confirm('Are you sure?')){
    	document.forms.reset_passwords.submit();
    }else{}
}
</script>
{% endblock %}

